<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Modelbased Test Suites" preserver-order="true">
   
    <suite-files>
        <suite-file path="RunJellyTest.xml"></suite-file> 
		<!-- <suite-file path="GenarateTests.xml"></suite-file> 
		<suite-file path="CreateJellyTest.xml"></suite-file> 
		<suite-file path="RunJellyTest.xml"></suite-file> -->
		 
    </suite-files>
  <!--  <listeners>
  <listener class-name="atu.testng.reports.listeners.ATUReportsListener"></listener>
  <listener class-name="atu.testng.reports.listeners.ConfigurationListener"></listener>
  <listener class-name="atu.testng.reports.listeners.MethodListener"></listener>
  </listeners>-->
</suite> 





